/* Appliquer Nunito à tout le site */
body {
  margin: 0 10px;
  padding: 0;
  background-color: #fff;
  color: #222;
}
a {
  text-decoration: none;
  color: #1F6A73;
}
a:hover {
  color: white;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 1rem 2rem;*/
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
navbar {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
header h2 {
  flex: 1;
  font-size: 2.5rem; /* Titre principal */
  font-weight: 700;
  margin: 0;
}
navbar button {
  padding: 0.6rem 1.1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #75C7C1;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  /*cursor: pointer;*/
  text-decoration: none;
  transition: background-color 0.3s;
  margin-left: 10px;
}
/* Horodateur */
.horodateur {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 5px;
  margin-left: 20px;
}
main {
  display: flex;
  margin-top: 1rem;
}
sidebar {
  widht: 20%;
}
.contenu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 1.5rem;
}
.contenu > div {
  flex: 1; /* Tous les éléments prennent la même largeur */
  gap: 10px;
}
sidebar,
.rubriques {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  gap: 0.7rem;
  margin-left: 5px;
  /*padding: 1rem;*/
}
.choix {
  display: none; /* cachée par défaut */
  flex-direction: column; /* disposition en colonne */
  gap: 10px;
  background-color: #C1E3E0;
}
sidebar button {
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #489C9F;
  color: white;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
#attente{background-color:green;}
#chngrdv{background-color:yellow; color:black;}
#supprimer{background-color:red;}
button:hover {
  background-color: #3058a1;
}
.listrdv,
.listAtt,
.listCons,
.listTerm {
  padding: 1rem;
  border-radius: 8px;
  min-height: 300px;
  color: white;
}
